name: GitHub Actions Demo with Docker

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run my Docker action
        uses: ./.github/actions/hello-docker
        with:
          who-to-greet: Margarita